.citation{
  padding: 80px;

  background-image: url(../images/bg-citation.jpg);
  background-attachment: fixed;
  background-size: cover;

  color: var(--couleur-blanc);

  h3{
    margin: 0;
    padding: 20px;

    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    text-transform: uppercase;
  }
}