header{
  background: var(--couleur-noir);

  h1{
  margin: 0;
  padding: 15px 0;

  font-family: var(--font-secondaire);
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;

  color: var(--couleur-blanc);
  }
}

