:root{
  --couleur-primaire: #A7029A;
  --couleur-secondaire: darkgray;
  --couleur-noir: #000;
  --couleur-blanc: #FFF;

  --degrade-pricipal: linear-gradient(36deg, rgba(167, 2, 154, 0.7) 0%, rgba(167, 2, 154, 0) 100%);
}